<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoFAS.NEW.MES.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CoFAS.NEW.MES.Core.Properties.Settings>
            <setting name="crtfcKey" serializeAs="String">
                <value>$5$API$30O2h1Buf.Z8M8BYobf6SLPqzVFF1BoDqaaCTzxv2gC</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>KO</value>
            </setting>
            <setting name="printName" serializeAs="String">
                <value>ZDesigner GT800 (ZPL)</value>
            </setting>
        </CoFAS.NEW.MES.Core.Properties.Settings>
    </userSettings>
</configuration>